<Toolbar></Toolbar>

<div class="content">
  <h1>Dashboard</h1>

  <h2>Verification status</h2>
  <mat-progress-spinner *ngIf="fetchingVerificationStatus" diameter="20" color="color" mode="indeterminate">
  </mat-progress-spinner>
  <div *ngIf="!fetchingVerificationStatus">
    <div *ngIf="verificationStatus === 'unverified'" class="verification-badge unverified">
      Not verified yet.<br />Continue below to verify your identity.
    </div>
    <div *ngIf="verificationStatus === 'verified'" class="verification-badge verified">
      Your identity was verified!<br />Please find your credentials below.
    </div>
    <div *ngIf="verificationStatus === 'pending'" class="verification-badge pending">
      Your identity is being verified,<br />please check again later.
    </div>
  </div>

  <div class="card-container" *ngIf="!fetchingVerificationStatus && verificationStatus === 'unverified'">
    <a class="card actionCard" href="/verify">
      <span>Verify now</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg> </a>
  </div>

  <h2>My credentials</h2>
  <div *ngIf="fetchingCredentials">Loading credentials...</div>
  <mat-progress-spinner *ngIf="fetchingCredentials" diameter="20" color="color" mode="indeterminate">
  </mat-progress-spinner>

  <div class="no-credential" *ngIf="!fetchingCredentials && availableCredentials.length == 0">
    No credential yet.
  </div>

  <div *ngIf="!fetchingCredentials && availableCredentials.length > 0" class="credentials">
    <div *ngFor="let credential of availableCredentials" class="credential">
      <div class="name">
        <!-- <mat-icon>account_circle</mat-icon> -->
        <img [src]="getCredentialIcon(credential)" />
        {{getDisplayableCredentialName(credential)}}
      </div>
      <div class="properties">
        <div class="property" *ngFor="let property of getCredentialProperties(credential)">
          <div class="label">{{getDisplayableCredentialPropertyKey(property.key)}}</div>
          <div class="value">{{property.value}}</div>
        </div>

        <div class="property">
          <div class="label">Signed by</div>
          <div class="value">Trinity Tech Co. Ltd. on behalf of Passbase</div>
        </div>

        <button mat-stroked-button color="primary" (click)="importCredential(credential)">Import to identity
          wallet</button>

        <div class="note">
          <mat-icon>info</mat-icon> After importing a credential in your identity wallet, you can use it
          in third party dApps upon request.
        </div>
      </div>
    </div>
  </div>

</div>

<Clouds></Clouds>