<Toolbar></Toolbar>

<!-- <div class="content">
  <h1>Dashboard</h1>

  <h2>Verification status</h2>
  <mat-progress-spinner *ngIf="fetchingVerificationStatus" diameter="20" color="color" mode="indeterminate">
  </mat-progress-spinner>
  <div *ngIf="!fetchingVerificationStatus">
    <div *ngIf="verificationStatus === 'unverified'" class="verification-badge unverified">
      Not verified yet.<br />Continue below to verify your identity.
    </div>
    <div *ngIf="verificationStatus === 'verified'" class="verification-badge verified">
      Your identity was verified!<br />Please find your credentials below.
    </div>
    <div *ngIf="verificationStatus === 'pending'" class="verification-badge pending">
      Your identity is being verified,<br />please check again later.
    </div>
  </div>

  <div class="card-container" *ngIf="!fetchingVerificationStatus && verificationStatus === 'unverified'">
    <a class="card actionCard" href="/verify">
      <span>Verify now</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg> </a>
  </div>

  <h2>My credentials</h2>
  <div *ngIf="fetchingCredentials">Loading credentials...</div>
  <mat-progress-spinner *ngIf="fetchingCredentials" diameter="20" color="color" mode="indeterminate">
  </mat-progress-spinner>

  <div class="no-credential" *ngIf="!fetchingCredentials && availableCredentials.length == 0">
    No credential yet.
  </div>

  <div *ngIf="!fetchingCredentials && availableCredentials.length > 0" class="credentials">
    <div *ngFor="let credential of availableCredentials" class="credential">
      <div class="name">
        <img [src]="getCredentialIcon(credential)" />
        {{getDisplayableCredentialName(credential)}}
      </div>
      <div class="properties">
        <div class="property" *ngFor="let property of getCredentialProperties(credential)">
          <div class="label">{{getDisplayableCredentialPropertyKey(property.key)}}</div>
          <div class="value">{{property.value}}</div>
        </div>

        <div class="property">
          <div class="label">Signed by</div>
          <div class="value">Trinity Tech Co. Ltd. on behalf of Passbase</div>
        </div>

        <button mat-stroked-button color="primary" (click)="importCredential(credential)">Import to identity
          wallet</button>

        <div class="note">
          <mat-icon>info</mat-icon> After importing a credential in your identity wallet, you can use it
          in third party dApps upon request.
        </div>
      </div>
    </div>
  </div>

</div> -->

<div class="container">
  <div class="wrapper-box">
    <div class="d-flex justify-content-center my-2">
      <p class="heading c-4ab4f0 text-center">Dashboard</p>
    </div>
    <div class="d-flex justify-content-center mt-2rem">
      <p class="fw-500 fs-15 text-center fw-bold">Verification Status</p>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <div class="grey-box pt-2 px-2rem">
        <p class="fw-500 fs-15 text-center mb-2 fw-bold">Not verified yet.</p>
        <p class="fw-500 fs-12 op-5 text-center lh-3">Continue below to verify <br />
          your identity</p>
        <!-- <div *ngIf="verificationStatus === 'verified'" class="verification-badge verified">
            <p class="fw-500 fs-15 text-center fw-bold">Your identity is being verified...</p>
            <p class="fw-500 fs-15 fs-13 text-center">Please check again later.</p>
          </div>
          <div *ngIf="verificationStatus === 'pending'" class="verification-badge pending">
            <p class="fw-500 fs-15 text-center fw-bold">Your identity was verified!</p>
            <p class="fw-500 fs-15 fs-13 text-center">Find your credentials below.</p>
          </div> -->
      </div>
    </div>
    <div class="d-flex justify-content-center my-5">
      <a class="blue-btn fs-15 text-decoration-none c-4ab4f0" [routerLink]="['/verify']">
        <span class="mx-3">Verify now</span>
        <img src="../../../assets/arrow_icon.svg" class="align-bottom" alt=">">
      </a>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <p class="fw-500 fs-15 text-center fw-bold">My Credentials</p>
      <p class="fw-500 fs-12 text-center op-5 dark-mode">No credentials yet.</p>
    </div>
  </div>
</div>

<Clouds></Clouds>