export class SecretConfig {
    public static Express = {
        port: 3040,
        publicEndpoint: `https://api-url`,
        httpsMode: false // true to start a local https express server, false if running behind a nginx https proxy in prod.
    }

    public static Mongo = {
        host:"localhost",
        port:27017,
        user:"root", // Set to null if no user
        password:"root-password", // Set to null if no user
        dbName:"credentials_kyc"
    }

    public static Auth = {
        jwtSecret: 'abcdef', // Used to encode JWT tokens
    }

    public static DID = {
        credentialIssuerDIDMnemonic: "12 words mnemonic", // "Trinity Tech KYC" mnemonic
        credentialIssuerDIDString: "did:elastos:iqjN3CLRjd7a4jGCZe6B3isXyeLy7KKDuK" // "Trinity Tech KYC" DID
    }

    public static Passbase = {
        apiEndpoint: "https://api.passbase.com",
        apiKeyPublic: "abcde",
        apiKeySecret: "abcdeabcde",
        metadataPrivateKey: "passbase-metadata-private-key.pem"
    }

    public static Ekyc = {
        accessKeyId: "your accessKeyId",
        accessKeySecret: "your accessKeySecret",
        endpoint: "cloudauth-intl.cn-hongkong.aliyuncs.com",
        returnUrl: "your returnUrl",
        merchantBizId: "your merchantBizId",
        merchantUserId: "your merchantUserId"
    }
}