<Toolbar></Toolbar>

<div class="container">
  <div class="wrapper-box">
    <div class="d-flex justify-content-center my-2">
      <p class="heading c-4ab4f0 text-center">Dashboard</p>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <p class="fw-500 fs-15 text-center fw-bold c-000000">Verification status</p>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <div class="green-box py-1 px-4">
        <p class="fw-500 fs-15 text-center c-4af08c fw-bold">Your identity was<br />verified!</p>
        <p class="fw-500 op-5 fs-12 text-center m-0">Find your credentials below.</p>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center mb-3 mt-5 ">
      <p class=" fw-500 fs-15 text-center fw-bold">My credentials</p>
    </div>

    <div class="d-flex flex-column justify-content-center mb-3">
      <div class="d-flex mx-4 align-content-center dark-img">
        <img src="../../../assets/half_round_white.svg" class="ml-2 mr-2 icon-width" alt="half Round Icon"
          *ngIf="isDarkTheme">
        <img src="../../../assets/half_round.svg" class="ml-2 mr-2" alt="half Round Icon" *ngIf="!isDarkTheme">
        <p class="pb-0 mt-3 fs-12 fw-500">Full name</p>
      </div>
      <div class="blue-box fs-12 justify-content-center row pt-3 mx-4">
        <div class="col-4">
          <p class="c-4ab4f0 fw-bold">First names</p>

          <p class="c-4ab4f0 fw-bold">Last name</p>

          <p class="c-4ab4f0 fw-bold">Signed by</p>
        </div>
        <div class="col-8">
          <p class="c-000000 fw-500">BENJAMIN DOMINIQUE</p>

          <p class="c-000000 fw-500">PIETTE</p>

          <p class="p-color-000000">Trinity Tech Co. Ltd. on behalf of Passbase</p>
        </div>
        <button class="blue-btn fs-12 px-2 py-0 inline-fit-content fw-unset c-white">
          Import to Identity wallet
        </button>
        <div class="d-flex justify-content-center mt-2">
          <img src="../../../assets/square.svg" class="icon-img" alt="Square" *ngIf="!isDarkTheme">
          <img src="../../../assets/square_dark.svg" class="icon-img" alt="Square" *ngIf="isDarkTheme">
          <p class="op-5 fw-500">
            <i>
              After importing a credential in
              your identity wallet, you can use it
              in third party dApps upon request.</i>
          </p>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center">
      <div class="d-flex mx-4 align-content-center">
        <img src="../../../assets/half_round_white.svg" class="ml-2 mr-2 icon-width" alt="half Round Icon"
          *ngIf="isDarkTheme">
        <img src="../../../assets/half_round.svg" class="ml-2 mr-2" alt="half Round Icon" *ngIf="!isDarkTheme">
        <p class="pb-0 mt-3 fs-12 fw-500">Nationality</p>
      </div>
      <div class="blue-box fs-12 justify-content-center row pt-3 mx-4">
        <div class="col-5">
          <p class="c-4ab4f0 fw-bold">Nationality</p>

          <p class="c-4ab4f0 fw-bold">Lorem ip</p>

          <p class="c-4ab4f0 fw-bold">Lorem ipsum</p>
        </div>
        <div class="col-7">
          <p class="c-000000 fw-500">FR 🇫🇷</p>

          <p class="c-000000 fw-500">Lorem</p>

          <p class="c-000000 fw-500">Lorem dolor</p>
        </div>
        <!-- <button class="button c-white">
          Import to Identity wallet
        </button> -->
        <div class="d-flex justify-content-center mt-2">
          <img src="../../../assets/square.svg" class="icon-img" alt="Square" *ngIf="!isDarkTheme">
          <img src="../../../assets/square_dark.svg" class="icon-img" alt="Square" *ngIf="isDarkTheme">
          <p class="op-5 dark-mode fw-500">
            <i>
              After importing a credential in
              your identity wallet, you can use it
              in third party dApps upon request.</i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<Clouds></Clouds>