<!-- Toolbar -->
<Toolbar></Toolbar>

<div class="container">
  <div class="wrapper-box">
    <div class="d-flex justify-content-center mt-2">
      <p class="heading c-4ab4f0 text-center">Welcome</p>
    </div>
    <div class="d-flex justify-content-center">
      <p class="fw-500 fs-15 text-center">KYC service for W3C DID<br />
        Verifiable Credentials on Elastos</p>
    </div>
    <div class="d-flex justify-content-center mt-3 mb-5">
      <a class="blue-btn fs-12 text-decoration-none" [routerLink]="['/dashboard']">
        <span class="mx-3 c-4ab4f0 fs-15">My Dashboard</span>
        <img src="../../../assets/arrow_icon.svg" class="align-bottom" alt=">">
      </a>
    </div>
    <div class="d-flex justify-content-center">
      <p class="text-center fw-500 fs-15 c-4ab4f0">What can this app do for you?</p>
    </div>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <img style="width:44px" src="../../../assets/half_round_icon.png" alt="Half round Icon">
    </div>
    <div class="d-flex justify-content-center">
      <p class="text-center fw-500 fs-15">Verify your physical identity</p>
    </div>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <img style="width:63px" src=" ../../../assets/round_icon.png" alt="Round Icon">
    </div>
    <div class="d-flex justify-content-center">
      <p class="text-center fw-500 fs-15">Generate private an unalterable<br />
        credentials that hold your<br />
        personal information</p>
    </div>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <img style="width:74px" src="../../../assets/square_icon.png" alt="Square Icon">
    </div>
    <div class="d-flex justify-content-center">
      <p class="text-center fw-500 fs-15">Download those credentials into <br />
        identity wallets such as Elastos<br />
        Essentials, so you can use them<br />
        in third party dApps later</p>
    </div>
  </div>
  <Clouds></Clouds>
</div>


<router-outlet></router-outlet>