.wrapper-box {
    margin: 43px;

    .button {
        background: linear-gradient(180deg, rgba(74, 180, 240, 0.5) 0%, rgba(74, 180, 240, 0.3) 100%);
        box-shadow: 0px 0px 20px rgba(74, 180, 240, 0.5);
        border-radius: 20px;
        padding: 8px 43px;
        border: 1px solid #4ab4f0;
        font-size: 18px;
        color: #4ab4f0;
        font-weight: 600;
    }
}
