.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;

  .intro {
    text-align: center;
  }
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.search-form-field {
  width: 400px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 200px;
  margin: 0 8px 16px;
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.actionCard {
  height: 16px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, 0.35);
  background-position: -0.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.credential-type {
  display: block;
  width: 100%;
  background: rgba(24, 117, 209, 0.1);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;

  .heading {
    display: flex;
    color: #888;
    font-size: 11px;

    .title {
      text-transform: uppercase;
      font-size: 11px;

      flex-grow: 3;
    }

    .type {
      background: rgba(24, 117, 209, 0.5);
      color: white;
      padding: 5px;
      border-radius: 5px;
      text-transform: uppercase;
      flex-grow: 3;
      font-weight: bold;
    }

    .publish-date {
      flex-grow: 1;
      align-self: center;
      text-align: right;
      display: flex;
      justify-content: flex-end;

      .date {
        font-weight: bold;
        margin-right: 5px;
        font-size: 13px;
      }
    }
  }

  .properties {
    .row {
      display: flex;
      .left {
        width: 120px;
        display: flex;
        align-items: flex-start;
        padding: 10px;
        font-weight: bold;
        align-items: center;
      }
      .right {
        padding: 10px;
      }
      .fields {
        display: flex;
        .field {
          background: #1875d1;
          color: white;
          padding: 5px;
          border-radius: 10px;
          margin-right: 5px;
        }
      }
    }
  }
}
