<!-- Toolbar -->
<Toolbar></Toolbar>

<div class="content" role="main">
  <h1>Welcome</h1>
  <p class="intro">KYC service for W3C DID Verifiable Credentials<br />on Elastos</p>
  <h2>What can this app do for you?</h2>
  <ul>
    <li>Verify your physical identity</li>
    <li>Generate private and unalterable credentials that hold your personal information</li>
    <li>Download those credentials to your identity wallet such as Elastos Essentials, so you can use them in third
      party dApps later</li>
  </ul>
  <div class="card-container">
    <a class="card actionCard" href="/dashboard">
      <span>Start</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg> </a>
  </div>

  <Clouds></Clouds>
</div>

<router-outlet></router-outlet>