<!-- Toolbar -->
<Toolbar></Toolbar>

<!-- <div class="content" role="main">
  <div class="heading">Please sign in with your DID to continue</div>

  <div class="card-container" *ngIf="!signingIn">
    <button mat-stroked-button (click)="signIn()">Sign in with Elastos DID</button>
  </div>

  <mat-progress-spinner *ngIf="signingIn" diameter="20" color="color" mode="indeterminate">
  </mat-progress-spinner>

  <div class="wc-disconnect" (click)="disconnectEssentials()" *ngIf="canDisconnectWalletConnectEssentials()">
    Disconnect previous Wallet connect session from Elastos Essentials
  </div>

  <Clouds></Clouds>
</div> -->

<div class="container">
  <div class="wrapper-box">
    <div class="row mb-3">
      <!-- <div class="col-2">
        <a [routerLink]="['/']"><img src="../../../assets/left_arrow.svg" alt="Arrow Icon"></a>
      </div> -->
      <div class="col-12">
        <p class="fw-500 fs-15 c-4ab4f0 text-center">Please sign in with your DID<br />
          to continue</p>
      </div>
      <div class="col-2">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/half_round_button.svg" class="img-btn" *ngIf="!signingIn" (click)="signIn()"
        alt="Half Round Button">
      <mat-progress-spinner *ngIf="signingIn" diameter="20" color="color" mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <div class="d-flex justify-content-center text-center mt-4 mx-3" *ngIf="canDisconnectWalletConnectEssentials()">
      <p class="fw-500 fs-15 op-5 w-90">Disconnect previous Wallet Connect session from Elastos
        Essentials
      </p>
    </div>
    <div class="d-flex justify-content-center text-center mt-2" *ngIf="canDisconnectWalletConnectEssentials()">
      <button class="blue-btn fs-12 px-2 py-1 c-4ab4f0 fw-unset" (click)="disconnectEssentials()">
        Disconnect
      </button>
    </div>
  </div>
  <Clouds></Clouds>
</div>

<router-outlet></router-outlet>