@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  background: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}
