<Toolbar></Toolbar>
<div class="container">
  <div class="wrapper-box">
    <div class="d-flex justify-content-center mt-2">
      <p class="heading text-center c-4ab4f0">Identity Verification</p>
    </div>
    <!-- Verification complete -->
    <div class="mx-5 my-2 d-flex-evenly text-center align-items-center flex-columns" >
      <div class="fw-600 fs-15 c-4ab4f0 mr-1">Great, you're done! Please come back to Dashboad and import your credentials.</div>
      <button class="blue-btn fs-13 py-1 px-2 c-4ab4f0 fw-unset mt-3" (click)="backToDashboard()">
        Back to dashboard
      </button>
    </div>
  </div>
</div>
<Clouds></Clouds>