<Toolbar></Toolbar>

<div class="container">
  
  <div class="wrapper-box">
    <div class="d-flex justify-content-center mt-2">
      <p class="heading text-center c-4ab4f0">Identity Verification</p>
    </div>
    <div class="d-flex flex-column mt-3 justify-content-center" *ngIf="!verificationCompleted">
      <p class="mx-3 fs-15 text-center c-000000">
        The following third-party KYC
        (Know Your Customer) providers can
        process your identity.
      </p>
      <p class="mx-3 fs-15 text-center c-000000">
        During the process 
        you will be required to do some actions
        such as scanning your face or
        your passport or the original identity certificate.
      </p>
      <p class="mx-3 fs-15 text-center c-000000">
        Once the process is completed,
        DID credentials will be generated and you
        can download them here.
      </p>
      <p class="mx-3 fs-15 text-center c-000000">
        The process can take a few minutes.
      </p>
    </div>

    <div class="my-2 center-container">
      <label class="center-container">Choose an Identity type: </label>
      <div class="center-container">
          <select [(ngModel)]="selectedCategory">
            <option *ngFor="let c of categories" [ngValue]="c">{{ c.name }}</option>
          </select>
        </div>
    </div>

    <div class="my-2 center-container" *ngIf="!verificationCompleted">
      <div class="fw-600 fs-15 c-4ab4f0 mr-1">eKYC
        <img src="../../../assets/alicloud.svg" style="height: 10px; margin-bottom: 2.5px;">
      </div>
    </div>

    <div class="my-2 verify-container"  style="min-height: 25px; margin-bottom: 20px;">
      <div class="py-2 px-2" *ngIf="isStartPrcocessEKYC">
        <mat-progress-spinner diameter="20" color="color" mode="indeterminate" ></mat-progress-spinner>
      </div>
      
      <div class="py-2 px-2"  (click)="processEKYC()" *ngIf="!isStartPrcocessEKYC && enableVerify">
        <button class="blue-btn fs-13 py-1 px-2 c-4ab4f0 fw-unset">
          Verify
        </button>
      </div>
      
      <div class="py-2 px-2" *ngIf="!enableVerify">
        <button disabled class="grey-box fs-13 py-1 px-2 fw-unset" >
          Verify
        </button>
      </div>
      
    </div>


    <div class="my-2 center-container" style="margin-top: 30px;" *ngIf="!verificationCompleted">
      <div class="fw-600 fs-15 c-4ab4f0 mr-1">eKYC
        <img src="../../../assets/tecentcloud.svg" style="height: 10px; margin-bottom: 2.5px;">
      </div>
    </div>

    <div class="my-2 verify-container"  style=" min-height: 25px;">
      <div class="py-2 px-2"  *ngIf="isStartPrcocessEKYC">
        <mat-progress-spinner diameter="20" color="color" mode="indeterminate"></mat-progress-spinner>
      </div>

      <div class="py-2 px-2" (click)="processEKYCFromTencent()" *ngIf="!isStartPrcocessEKYC && enableVerify">
        <button class="blue-btn fs-13 py-1 px-2 c-4ab4f0 fw-unset" >
          Verify
        </button>
      </div>
      
      <div class="py-2 px-2" *ngIf="!enableVerify">
        <button disabled class="grey-box fs-13 py-1 px-2 fw-unset" >
          Verify
        </button>
      </div>
      
    </div>

    <div class="d-flex flex-column mt-3 justify-content-center" *ngIf="!enableVerify">
      <p class="mx-3 fs-15 text-center c-000000">
        To continue, please open kyc-me.io 
         from your mobile phone
      </p>
    </div>
    <!-- Verification complete -->
    <div class="mx-5 my-2 d-flex-evenly text-center align-items-center flex-columns" *ngIf="verificationCompleted">
      <div class="fw-600 fs-15 c-4ab4f0 mr-1">Great, you're done! Please come back to Dashboad and import your credentials.</div>
      <button class="blue-btn fs-13 py-1 px-2 c-4ab4f0 fw-unset mt-3" (click)="backToDashboard()">
        Back to dashboard
      </button>
    </div>
  </div>
</div>

<Clouds></Clouds>