// .content {
//   display: flex;
//   margin: 82px auto 32px;
//   padding: 0 16px;
//   max-width: 960px;
//   flex-direction: column;
//   align-items: center;

//   .in-verification {
//     font-weight: bold;
//     font-size: 16px;
//   }

//   .verification-completed {
//     background-color: rgb(0, 146, 66);
//     color: white;
//     border-radius: 10px;
//     padding: 10px;
//     box-shadow: 0 0 10px #666;
//   }
// }

.wrapper-box {
  margin: 43px 30px;
}
