:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.spacer {
  flex: 1;
}

.logo {
  width: 80px;
  margin-top: 5px;
  border-right: solid 5px white;
  padding-right: 20px;
}

img {
  margin: 0 16px;
}

#twitter-logo {
  height: 40px;
  margin: 0 8px;
}

#youtube-logo {
  height: 40px;
  margin: 0 16px;
}

#twitter-logo:hover,
#youtube-logo:hover {
  opacity: 0.8;
}

.signed-in-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signout {
  margin: 10px;
}
